body {
    background-color: black;
    color: coral;

    h1 {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: white;
    }
}

.navbar {
    height: 50px;
    a {
        color: black;
    }
    a:hover {
        color: coral;
    }
}


.fluid-container {
    display: flex;
    height: calc(100% - 50px);
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
#bio {
    background-color: black;
    padding: 20px;
    border-radius: 90px 90px 0px 0px;
    h1 {
        font-size: 54px;
    }

}
#work, #about{
    background-color: black;
    color: mistyrose;
    padding: 15px;
    h1 {
        text-decoration: underline;
    }
}
#skills {
    background-color: coral;
    color: black;
    padding: 15px;
    h1 {
        text-decoration: underline;
    }
}

.profile-pic {

    background-image: url(../images/me.jpg);
    background-size: 100%;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    border-radius: 100px;

}

.hero-image {
    min-height: 500px;
    height: calc(100vh - 25px);
    align-items: center;
    justify-content: center;
    background-image: url(../images/mushroom.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    }


.fluid-container {
    .row {
    padding: 20px;
    justify-content: center;
    align-items: flex-start;
    background-color: black;
    .card {
        background-color: palevioletred;
        margin: 10px;
    }
    }
}


button {
    background-color: coral;
    padding: 10px 30px;
    border-radius: 30px;
    border: 5px;
    border-style: solid;
    border-color:black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 22px;

}
button:hover {
    color: white;
    background-color: palevioletred;
    box-shadow: 5px;
    border-color: white;
    box-shadow:  10px 7px 5px grey;

    
}