


.hero-image {
    height: 500px;
    height: calc(100vh - 25px);
    align-items: center;
    justify-content: center;
    background-image: url(../images/mushroom.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    }
